In [1]:
import pandas as pd
import numpy as np

https://planetpython.org/

https://dataskeptic.com/ - podcast

In [10]:
k = pd.Series(np.arange(1,11,3),index=['a','b','c','d'])
k

a     1
b     4
c     7
d    10
dtype: int64

In Python, we have the none type to indicate a lack of data. But what do we do if we want to have a typed list like we do in the series object? **Underneath, pandas does some type conversion. If we create a list of strings and we have one element, a None type, pandas inserts it as a None and uses the type object for the underlying array.**

You'll notice a couple of things. **First, NaN is a different value. Second, pandas
set the dytpe of this series to floating point numbers instead of object or ints.** That's
maybe a bit of a surprise - why not just leave this as an integer? Underneath, pandas
represents NaN as a floating point number, and because integers can be typecast to
floats, pandas went and converted our integers to floats. So when you're wondering why the
list of integers you put into a Series is not floats, it's probably because there is some missing data.

NaN is similar to None, but it's a numeric value and treated differently

In [17]:
pd.Series([1,2,None])

0    1.0
1    2.0
2    NaN
dtype: float64

In [16]:
np.nan == None

False

In [19]:
np.nan == np.nan, np.isnan(np.nan)

(False, True)

Pandas has nice compatability
1. It can store anything like number, string, tuple, list and so on
2. It can make series if data is iterable object

<q>Can I set different type of data in one series?

In [22]:
pd.Series({"ss":33,"dd":44,"ee":55}), pd.Series([[1,2,3],[2,3,4]]), pd.Series((1,2,3))

(ss    33
 dd    44
 ee    55
 dtype: int64, 0    [1, 2, 3]
 1    [2, 3, 4]
 dtype: object, 0    1
 1    2
 2    3
 dtype: int64)

In [27]:
# length of data and length of index should be same
pd.Series({"a":1,"b":2,"c":3},index=["a","b","d"])

a    1.0
b    2.0
d    NaN
dtype: float64

In [28]:
pd.Series([1,2],index=[1,2,3])

ValueError: Length of passed values is 2, index implies 3

loc : query by index

iloc : query by position

**loc and iloc is not method, it's attribute** -> use [ ] not ( )

Pandas tries to make our code a bit more readable and provides a sort of smart syntax using the indexing operator directly on the series itself. For instance, if you pass in an integer parameter, the operator will behave as if you want it to query via the iloc attribute

In [37]:
ex = pd.Series([1,2,3,4,5],index=['a','b','c','d',1])
ex,ex.loc['a':],ex.iloc[[2,3,4]], ex['a':]

(a    1
 b    2
 c    3
 d    4
 1    5
 dtype: int64, a    1
 b    2
 c    3
 d    4
 1    5
 dtype: int64, c    3
 d    4
 1    5
 dtype: int64, a    1
 b    2
 c    3
 d    4
 1    5
 dtype: int64)

In [38]:
#It's compicated whether it's indexing position if index is integer
#It's recommended to use loc, iloc explicitly
ex[1]

5

Modern computers can do many tasks simultaneously, especially, 
but not only, tasks involving mathematics.
Pandas and the underlying numpy libraries support a method of computation called vectorization. 
Vectorization works with most of the functions in the numpy library, including the sum function.

In [40]:
np.sum(ex)

15

In [42]:
number = pd.Series(np.random.randint(0,1000,100000))
number.head()

0    451
1    744
2    426
3    815
4    174
dtype: int64

In [48]:
%%timeit -n 100
#magin function
#Write % and tab key
total = 0
for num in number:
    total+=num
total/len(number)

11.1 ms ± 99.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [49]:
%%timeit -n 100
#Vectorization is the ability for a computer to execute multiple intstructions at once
np.sum(number)

132 µs ± 2.94 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [50]:
#Broadcasting -> Faster faster faster than accessing series values one by one
number+=3
number.head()

0    454
1    747
2    429
3    818
4    177
dtype: int64

In [52]:
number[0:3] = 222
number.head()

0    222
1    222
2    222
3    818
4    177
dtype: int64

In [54]:
#Add new value
new = pd.Series([1,2,3,4,5],index=list('abcde'))
new
new['a']=3
new['f']=5
new

a    3
b    2
c    3
d    4
e    5
f    5
dtype: int64

In [55]:
#Index is not unique.
new_dup = pd.Series([10,11,12],index=list('ggg'))
new_dup

g    10
g    11
g    12
dtype: int64

**append**

There are a couple of important considerations when using append. **First, Pandas will take 
the series and try to infer the best data types to use.** In this example, everything is a string, 
so there's no problems here. **Second, the append method doesn't actually change the underlying Series
objects, it instead returns a new series which is made up of the two appended together.** This is
a common pattern in pandas - by default returning a new object instead of modifying in place - and
one you should come to expect. By printing the original series we can see that that series hasn't
changed.

In [56]:
new_app = new.append(new_dup)
new,new_dup,new_app

(a    3
 b    2
 c    3
 d    4
 e    5
 f    5
 dtype: int64, g    10
 g    11
 g    12
 dtype: int64, a     3
 b     2
 c     3
 d     4
 e     5
 f     5
 g    10
 g    11
 g    12
 dtype: int64)

In [57]:
new_app['g'] #If we access index 'g', It return all elements whose indexes are 'g'

g    10
g    11
g    12
dtype: int64

# DataFrame

In [1]:
import pandas as pd
import numpy as np

In [9]:
#Dataframe is similar to 2D numpy array. It's conceptually 2D
#Dataframe also has nice compatibility
pd.DataFrame(np.random.randint(10,100,(3,5)),columns=list('abcde'))

ex1 = {'a':1,'b':2,'c':3}
ex2 = {'a':33,'b':55,"c":'aa'}
ex3 = {'a':4,'b':1,'d':11}
pd.DataFrame([ex1,ex2])
pd.DataFrame([ex1,ex2,ex3])

    a   b    c     d
0   1   2    3   NaN
1  33  55   aa   NaN
2   4   1  NaN  11.0

In [15]:
df = pd.DataFrame(np.random.randint(1,100,(200,20)))
df.head()
type(df.loc[:,2])
df.T #Transopose matrix

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,70,15,85,26,78,46,24,31,27,71,...,34,28,4,96,97,53,97,6,78,78
1,15,67,17,42,57,23,66,6,70,8,...,69,78,6,25,45,98,67,89,15,26
2,53,63,79,40,52,8,7,88,27,64,...,33,15,74,33,98,35,6,17,61,15
3,75,5,64,67,58,55,84,73,33,76,...,15,58,58,36,57,55,92,44,39,36
4,75,61,72,5,40,56,34,52,50,77,...,5,40,51,95,43,45,44,78,98,48
5,30,46,42,10,7,44,32,70,77,88,...,63,82,52,1,38,54,17,76,78,47
6,62,13,9,84,56,21,14,23,99,53,...,82,43,77,34,39,53,75,71,11,2
7,54,34,30,55,12,54,43,14,76,53,...,54,57,76,71,77,82,55,80,91,6
8,68,27,78,39,15,2,1,62,49,2,...,76,40,55,29,8,86,69,9,62,56
9,53,34,26,95,6,20,62,54,66,88,...,90,58,46,54,69,66,54,7,26,63
10,99,84,49,50,49,55,98,36,90,64,...,33,4,40,39,47,64,25,89,75,62
11,82,65,62,53,56,30,80,81,82,79,...,64,25,58,43,74,85,62,41,33,55
12,43,27,78,76,68,37,19,22,34,19,...,1,66,77,35,79,22,59,15,81,56
13,76,71,24,81,18,10,54,22,89,79,...,2,8,10,60,98,19,99,41,22,40
14,74,26,70,84,30,44,17,13,90,92,...,68,25,71,2,3,10,64,28,12,86
15,84,45,70,21,28,25,28,84,28,26,...,96,26,67,69,69,64,88,56,90,3
16,22,90,48,72,3,34,43,82,41,6,...,79,77,40,9,86,68,1,64,20,72
17,2,39,82,15,73,83,54,43,82,78,...,84,42,92,7,94,87,76,87,45,94
18,84,96,13,6,54,10,29,96,23,11,...,83,69,11,24,15,62,90,31,27,36
19,49,79,76,32,85,49,60,61,26,75,...,10,30,53,81,6,73,58,99,66,92

In [18]:
df = pd.DataFrame(np.random.randint(1,100,(200,10)),columns=list('abcdefghij'))
df[5]

KeyError: 5

In [20]:
df['a'] #Dataframe is label based, you can't use position base access not through iloc
df.iloc[:,5]

0      12
1      27
2      60
3      56
4      27
       ..
195    41
196    58
197    68
198    89
199    32
Name: f, Length: 200, dtype: int64

In [34]:
print(type(df['c']))
print(type(df.loc[6:10]))
print(type(df.loc[6:10,'d']))
print(type(df.loc[7:10]['d']))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

Chaining, by indexing on the return type of another index, can come with some costs and is
best avoided if you can use another approach. In particular, chaining tends to cause Pandas 
to return a copy of the DataFrame instead of a view on the DataFrame. 
For selecting data, this is not a big deal, though it might be slower than necessary. 
If you are changing data though this is an important distinction and can be a source of error.

In [36]:
#df.loc[6:10]['c':] #error
df.loc[6:10][['c','d']]
df.loc[6:10,['c','d']]

     c   d
6   65  18
7   91  29
8   80  75
9    9   8
10  98  25

In [42]:
copy_df = df.copy()
df.drop(10) #Drop makes copy of original dataframe by default
df
copy_df.drop('e',inplace=True,axis=1) 
#Can update original dataframe by inplace and can determine whether delete row or column by axis
copy_df
#Can execute delete and update at a time by del
del copy_df['f']
copy_df.head()

    a   b   c   d   g   h   i   j
0  87  35  77  63  14  32  70  77
1  76  82  68  40  94  30  92  63
2  71  93  18  31  59  39  99   4
3   8  24  46  38  19  95   5  27
4  26  50  45  64  23  74  59  29

In [43]:
#Add column to dataframe
df['k'] = None
#Change value of column
df['j'] = 1
df
#<Q> How can I add row to dataframe
#<A> 1. transpose, add and transpose
#<A> 2. Use loc

      a   b   c   d   e   f   g   h   i  j     k
0    87  35  77  63  30  12  14  32  70  1  None
1    76  82  68  40  60  27  94  30  92  1  None
2    71  93  18  31  46  60  59  39  99  1  None
3     8  24  46  38  83  56  19  95   5  1  None
4    26  50  45  64  95  27  23  74  59  1  None
..   ..  ..  ..  ..  ..  ..  ..  ..  .. ..   ...
195  11   8  33   3  42  41  32  40  52  1  None
196  31  12  18   6  17  58  46  72  60  1  None
197  87  46  55  12  78  68  99  83  74  1  None
198  76  87  69  15  32  89   8  76  33  1  None
199  15  15  35  87  86  32  61  89  65  1  None

[200 rows x 11 columns]

Load -> Clean and Manipulate -> Data analysis and Modeling

In [6]:
#We can use shell command in iPython by '!'
!cat datasets/Admission_Predict.csv
!ls ./datasets/

400,333,117,4,5,4,9.66,1,0.95Admission_Predict.csv  census.csv  class_grades.csv  log.csv  presidents.csv

In [7]:
df = pd.read_csv('datasets/Admission_Predict.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [11]:
df2 = pd.read_csv('datasets/Admission_Predict.csv',index_col=0)
df2.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [27]:
new = list(df2.columns)
new[3] = 'State of Purpose'
new
df3 = df2.rename(columns = dict(zip(df2.columns,new)))
df3.head()

,GRE Score,TOEFL Score,University Rating,State of Purpose,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [26]:
#rename function don't change original dataframe
df2.head()
df4 = df2.rename(mapper=str.strip,axis='columns')

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [31]:
#map, lambda, list comprehension... for parallel task
#by map and lambda
new = list(map(lambda x:x.lower().strip(),list(df2.columns)))
#by list comprehension
new = [x.lower().strip() for x in list(df2.columns)]
df5 = df2.rename(columns=dict(zip(df2.columns,new)))
df5.head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

### Querying Dataframe

1. Boolean masking

In [35]:
df = pd.read_csv('datasets/Admission_Predict.csv',index_col=0)
df.columns = list(map(lambda x:x.lower().strip(),list(df.columns)))
#You cannot change some values of df.columns but, you can change whole df.columns  
df.head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [37]:
mask = df['chance of admit'] > 0.80
df[mask]

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
6,330,115,5,4.5,3.0,9.34,1,0.90
12,327,111,4,4.0,4.5,9.00,1,0.84
23,328,116,5,5.0,5.0,9.50,1,0.94
24,334,119,5,5.0,4.5,9.70,1,0.95
25,336,119,5,4.0,3.5,9.80,1,0.97
26,340,120,5,4.5,4.5,9.60,1,0.94
33,338,118,4,3.0,4.5,9.40,1,0.91
34,340,114,5,4.0,4.0,9.60,1,0.90
35,331,112,5,4.0,5.0,9.80,1,0.94
36,320,110,5,5.0,5.0,9.20,1,0.88
44,332,117,4,4.5,4.0,9.10,0,0.87
45,326,113,5,4.5,4.0,9.40,1,0.91
46,322,110,5,5.0,4.0,9.10,1,0.88
47,329,114,5,4.0,5.0,9.30,1,0.86
48,339,119,5,4.5,4.0,9.70,0,0.89
49,321,110,3,3.5,5.0,8.85,1,0.82
71,332,118,5,5.0,5.0,9.64,1,0.94
72,336,112,5,5.0,5.0,9.76,1,0.96
73,321,111,5,5.0,5.0,9.45,1,0.93
74,314,108,4,4.5,4.0,9.04,1,0.84
82,340,120,4,5.0,5.0,9.50,1,0.96
83,320,110,5,5.0,4.5,9.22,1,0.92
84,322,115,5,4.0,4.5,9.36,1,0.92
85,340,115,5,4.5,4.5,9.45,1,0.94
98,331,120,3,4.0,4.0,8.96,1,0.86
99,332,119,4,5.0,4.5,9.24,1,0.90
107,329,111,4,4.5,4.5,9.18,1,0.87
108,338,117,4,3.5,4.5,9.46,1,0.91
109,331,116,5,5.0,5.0,9.38,1,0.93
...,...,...,...,...,...,...,...,...
283,312,106,3,4.0,3.5,8.79,1,0.81
285,340,112,4,5.0,4.5,9.66,1,0.94
286,331,116,5,4.0,4.0,9.26,1,0.93
287,336,118,5,4.5,4.0,9.19,1,0.92
288,324,114,5,5.0,4.5,9.08,1,0.89
289,314,104,4,5.0,5.0,9.02,0,0.82
298,320,120,3,4.0,4.5,9.11,0,0.86
299,330,114,3,4.5,4.5,9.24,1,0.90
312,328,108,4,4.5,4.0,9.18,1,0.84
326,326,116,3,3.5,4.0,9.14,1,0.81
336,325,111,4,4.0,4.5,9.11,1,0.83
338,332,118,5,5.0,5.0,9.47,1,0.94
339,323,108,5,4.0,4.0,8.74,1,0.81
340,324,107,5,3.5,4.0,8.66,1,0.81
360,321,107,2,2.0,1.5,8.44,0,0.81
361,322,110,3,4.0,5.0,8.64,1,0.85
362,334,116,4,4.0,3.5,9.54,1,0.93
363,338,115,5,4.5,5.0,9.23,1,0.91
366,330,114,4,4.5,3.0,9.17,1,0.86
372,324,110,3,3.5,3.0,9.22,1,0.89
373,336,119,4,4.5,4.0,9.62,1,0.95
383,324,110,4,4.5,4.0,9.15,1,0.82
385,340,113,4,5.0,5.0,9.74,1,0.96
386,335,117,5,5.0,5.0,9.82,1,0.96
393,326,112,4,4.0,3.5,9.12,1,0.84
395,329,111,4,4.5,4.0,9.23,1,0.89
396,324,110,3,3.5,3.5,9.04,1,0.82
397,325,107,3,3.0,3.5,9.11,1,0.84
398,330,116,4,5.0,4.5,9.45,1,0.91
400,333,117,4,5.0,4.0,9.66,1,0.95

In [38]:
df.where(mask).head()

# We see that the resulting data frame keeps the original indexed values, and only data which met 
# the condition was retained. All of the rows which did not meet the condition have NaN data instead,
# but these rows were not dropped from our dataset.

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df.where(mask).dropna().head()
#where() is not used that often

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92
6,330.0,115.0,5.0,4.5,3.0,9.34,1.0,0.90
12,327.0,111.0,4.0,4.0,4.5,9.00,1.0,0.84
23,328.0,116.0,5.0,5.0,5.0,9.50,1.0,0.94
24,334.0,119.0,5.0,5.0,4.5,9.70,1.0,0.95

In [44]:
df['gre score']
df[['gre score','lor']]
df[df['gre score'] > 325.0] #mimicking loc() or where() dropna()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
6,330,115,5,4.5,3.0,9.34,1,0.90
12,327,111,4,4.0,4.5,9.00,1,0.84
13,328,112,4,4.0,4.5,9.10,1,0.78
23,328,116,5,5.0,5.0,9.50,1,0.94
24,334,119,5,5.0,4.5,9.70,1,0.95
25,336,119,5,4.0,3.5,9.80,1,0.97
26,340,120,5,4.5,4.5,9.60,1,0.94
32,327,103,3,4.0,4.0,8.30,1,0.74
33,338,118,4,3.0,4.5,9.40,1,0.91
34,340,114,5,4.0,4.0,9.60,1,0.90
35,331,112,5,4.0,5.0,9.80,1,0.94
44,332,117,4,4.5,4.0,9.10,0,0.87
45,326,113,5,4.5,4.0,9.40,1,0.91
47,329,114,5,4.0,5.0,9.30,1,0.86
48,339,119,5,4.5,4.0,9.70,0,0.89
50,327,111,4,3.0,4.0,8.40,1,0.78
53,334,116,4,4.0,3.0,8.00,1,0.78
67,327,114,3,3.0,3.0,9.02,0,0.61
70,328,115,4,4.5,4.0,9.16,1,0.78
71,332,118,5,5.0,5.0,9.64,1,0.94
72,336,112,5,5.0,5.0,9.76,1,0.96
76,329,114,2,2.0,4.0,8.56,1,0.72
77,327,112,3,3.0,3.0,8.72,1,0.74
82,340,120,4,5.0,5.0,9.50,1,0.96
85,340,115,5,4.5,4.5,9.45,1,0.94
98,331,120,3,4.0,4.0,8.96,1,0.86
99,332,119,4,5.0,4.5,9.24,1,0.90
105,326,112,3,3.5,3.0,9.05,1,0.74
107,329,111,4,4.5,4.5,9.18,1,0.87
...,...,...,...,...,...,...,...,...
236,326,111,5,4.5,4.0,9.23,1,0.88
238,329,114,5,4.5,5.0,9.19,1,0.86
246,328,110,4,4.0,2.5,9.02,1,0.81
254,335,115,4,4.5,4.5,9.68,1,0.93
259,326,102,4,5.0,5.0,8.76,1,0.77
260,331,119,4,5.0,4.5,9.34,1,0.90
261,327,108,5,5.0,3.5,9.13,1,0.87
269,327,113,4,4.5,5.0,9.14,0,0.83
277,329,113,5,5.0,4.5,9.45,1,0.89
285,340,112,4,5.0,4.5,9.66,1,0.94
286,331,116,5,4.0,4.0,9.26,1,0.93
287,336,118,5,4.5,4.0,9.19,1,0.92
299,330,114,3,4.5,4.5,9.24,1,0.90
312,328,108,4,4.5,4.0,9.18,1,0.84
320,327,113,4,3.5,3.0,8.69,1,0.80
326,326,116,3,3.5,4.0,9.14,1,0.81
331,327,113,3,3.5,3.0,8.66,1,0.80
338,332,118,5,5.0,5.0,9.47,1,0.94
342,326,110,3,3.5,3.5,8.76,1,0.79
357,327,109,3,3.5,4.0,8.77,1,0.79
362,334,116,4,4.0,3.5,9.54,1,0.93
363,338,115,5,4.5,5.0,9.23,1,0.91
366,330,114,4,4.5,3.0,9.17,1,0.86
373,336,119,4,4.5,4.0,9.62,1,0.95
385,340,113,4,5.0,5.0,9.74,1,0.96
386,335,117,5,5.0,5.0,9.82,1,0.96
393,326,112,4,4.0,3.5,9.12,1,0.84
395,329,111,4,4.5,4.0,9.23,1,0.89
398,330,116,4,5.0,4.5,9.45,1,0.91
400,333,117,4,5.0,4.0,9.66,1,0.95

In [49]:
df[df['gre score']>325.0 and df['chance of admit'] > 0.8]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

This doesn't work. And despite using pandas for awhile, I still find I regularly try and do this. The
problem is that you have series objects, and **python underneath doesn't know how to compare two series using
and or or.** Instead, the pandas authors have overwritten the pipe | and ampersand & operators to handle this
for us

In [52]:
df[(df['gre score']>325.0) & (df['chance of admit'] > 0.8)]

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
6,330,115,5,4.5,3.0,9.34,1,0.90
12,327,111,4,4.0,4.5,9.00,1,0.84
23,328,116,5,5.0,5.0,9.50,1,0.94
24,334,119,5,5.0,4.5,9.70,1,0.95
25,336,119,5,4.0,3.5,9.80,1,0.97
26,340,120,5,4.5,4.5,9.60,1,0.94
33,338,118,4,3.0,4.5,9.40,1,0.91
34,340,114,5,4.0,4.0,9.60,1,0.90
35,331,112,5,4.0,5.0,9.80,1,0.94
44,332,117,4,4.5,4.0,9.10,0,0.87
45,326,113,5,4.5,4.0,9.40,1,0.91
47,329,114,5,4.0,5.0,9.30,1,0.86
48,339,119,5,4.5,4.0,9.70,0,0.89
71,332,118,5,5.0,5.0,9.64,1,0.94
72,336,112,5,5.0,5.0,9.76,1,0.96
82,340,120,4,5.0,5.0,9.50,1,0.96
85,340,115,5,4.5,4.5,9.45,1,0.94
98,331,120,3,4.0,4.0,8.96,1,0.86
99,332,119,4,5.0,4.5,9.24,1,0.90
107,329,111,4,4.5,4.5,9.18,1,0.87
108,338,117,4,3.5,4.5,9.46,1,0.91
109,331,116,5,5.0,5.0,9.38,1,0.93
121,335,117,5,5.0,5.0,9.56,1,0.94
122,334,119,5,4.5,4.5,9.48,1,0.94
129,326,112,3,3.5,3.0,9.10,1,0.84
130,333,118,5,5.0,5.0,9.35,1,0.92
131,339,114,5,4.0,4.5,9.76,1,0.96
135,333,113,5,4.0,4.0,9.28,1,0.89
141,329,110,2,4.0,3.0,9.15,1,0.84
...,...,...,...,...,...,...,...,...
213,338,120,4,5.0,5.0,9.66,1,0.95
214,333,119,5,5.0,4.5,9.78,1,0.96
215,331,117,4,4.5,5.0,9.42,1,0.94
216,330,116,5,5.0,4.5,9.36,1,0.93
235,330,113,5,5.0,4.0,9.31,1,0.91
236,326,111,5,4.5,4.0,9.23,1,0.88
238,329,114,5,4.5,5.0,9.19,1,0.86
246,328,110,4,4.0,2.5,9.02,1,0.81
254,335,115,4,4.5,4.5,9.68,1,0.93
260,331,119,4,5.0,4.5,9.34,1,0.90
261,327,108,5,5.0,3.5,9.13,1,0.87
269,327,113,4,4.5,5.0,9.14,0,0.83
277,329,113,5,5.0,4.5,9.45,1,0.89
285,340,112,4,5.0,4.5,9.66,1,0.94
286,331,116,5,4.0,4.0,9.26,1,0.93
287,336,118,5,4.5,4.0,9.19,1,0.92
299,330,114,3,4.5,4.5,9.24,1,0.90
312,328,108,4,4.5,4.0,9.18,1,0.84
326,326,116,3,3.5,4.0,9.14,1,0.81
338,332,118,5,5.0,5.0,9.47,1,0.94
362,334,116,4,4.0,3.5,9.54,1,0.93
363,338,115,5,4.5,5.0,9.23,1,0.91
366,330,114,4,4.5,3.0,9.17,1,0.86
373,336,119,4,4.5,4.0,9.62,1,0.95
385,340,113,4,5.0,5.0,9.74,1,0.96
386,335,117,5,5.0,5.0,9.82,1,0.96
393,326,112,4,4.0,3.5,9.12,1,0.84
395,329,111,4,4.5,4.0,9.23,1,0.89
398,330,116,4,5.0,4.5,9.45,1,0.91
400,333,117,4,5.0,4.0,9.66,1,0.95

One thing to watch out for is order of operations! A common error for new pandas users is
to try and do boolean comparisons using the & operator but not putting parentheses around
the individual terms you are interested in

**The problem is that Python is trying to bitwise and a 0.7 and a pandas dataframe**, when you really want
to bitwise and the broadcasted dataframes together

50% or more of the work you'll be doing in data cleaning involves querying DataFrames.

## Indexing Dataframe

In [53]:
df = pd.read_csv('datasets/Admission_Predict.csv',index_col=0)
df.columns = list(map(lambda x:x.lower().strip(),list(df.columns)))

In [59]:
df.head()
df['serial number'] = df.index
df.head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit,serial number
Serial No.,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,1
2,324,107,4,4.0,4.5,8.87,1,0.76,2
3,316,104,3,3.0,3.5,8.00,1,0.72,3
4,322,110,3,3.5,2.5,8.67,1,0.80,4
5,314,103,2,2.0,3.0,8.21,0,0.65,5

In [60]:
#set_index doesn't change original dataframe
df.set_index('chance of admit').head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,serial number
chance of admit,,,,,,,,
0.92,337,118,4,4.5,4.5,9.65,1,1
0.76,324,107,4,4.0,4.5,8.87,1,2
0.72,316,104,3,3.0,3.5,8.00,1,3
0.80,322,110,3,3.5,2.5,8.67,1,4
0.65,314,103,2,2.0,3.0,8.21,0,5

In [62]:
df = df.set_index('chance of admit').head()
df.reset_index().head() #It changes original dataframe / change index value to column

,chance of admit,gre score,toefl score,university rating,sop,lor,cgpa,research,serial number
0,0.92,337,118,4,4.5,4.5,9.65,1,1
1,0.76,324,107,4,4.0,4.5,8.87,1,2
2,0.72,316,104,3,3.0,3.5,8.00,1,3
3,0.80,322,110,3,3.5,2.5,8.67,1,4
4,0.65,314,103,2,2.0,3.0,8.21,0,5

One nice feature of Pandas is multi-level indexing. This is similar to composite keys in 
relational database systems. To create a multi-level index, we simply call set index and 
give it a list of columns that we're interested in promoting to an index.

Pandas will search through these in order, finding the distinct data and form composite indices.
A good example of this is often found when dealing with geographical data which is sorted by 
|regions or demographics.

In [66]:
df = pd.read_csv('datasets/census.csv')
df.columns = list(map(lambda x:x.lower().strip(),list(df.columns)))
df.head()

,sumlev,region,division,state,county,stname,ctyname,census2010pop,estimatesbase2010,popestimate2010,...,rdomesticmig2011,rdomesticmig2012,rdomesticmig2013,rdomesticmig2014,rdomesticmig2015,rnetmig2011,rnetmig2012,rnetmig2013,rnetmig2014,rnetmig2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [79]:
df_temp = df.set_index('sumlev')
df_temp
df_temp.loc[50,:]

,region,division,state,county,stname,ctyname,census2010pop,estimatesbase2010,popestimate2010,popestimate2011,...,rdomesticmig2011,rdomesticmig2012,rdomesticmig2013,rdomesticmig2014,rdomesticmig2015,rnetmig2011,rnetmig2012,rnetmig2013,rnetmig2014,rnetmig2015
sumlev,,,,,,,,,,,,,,,,,,,,,
50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,55253,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,186659,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,27226,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,22733,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
50,3,6,1,9,Alabama,Blount County,57322,57322,57373,57711,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
50,3,6,1,11,Alabama,Bullock County,10914,10915,10887,10629,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961
50,3,6,1,13,Alabama,Butler County,20947,20946,20944,20673,...,-14.032727,-11.684234,-5.655413,1.085428,-6.529805,-13.936612,-11.586865,-5.557058,1.184103,-6.430868
50,3,6,1,15,Alabama,Calhoun County,118572,118586,118437,117768,...,-6.155670,-4.611706,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406
50,3,6,1,17,Alabama,Chambers County,34215,34170,34098,33993,...,-2.731639,3.849092,2.872721,-2.287222,1.349468,-1.821092,4.701181,3.781439,-1.290228,2.346901
50,3,6,1,19,Alabama,Cherokee County,25989,25986,25976,26080,...,6.339327,1.113180,5.488706,-0.076806,-3.239866,6.416167,1.420264,5.757384,0.230419,-2.931307
50,3,6,1,21,Alabama,Chilton County,43643,43631,43665,43739,...,-1.372935,-2.653369,0.480044,0.456017,-2.253483,-0.823761,-2.447504,0.868651,0.957636,-1.752709
50,3,6,1,23,Alabama,Choctaw County,13859,13858,13841,13593,...,-15.455274,-0.737028,-8.766391,-1.274984,-5.291205,-15.528177,-0.737028,-8.766391,-1.274984,-5.291205
50,3,6,1,25,Alabama,Clarke County,25833,25840,25767,25570,...,-6.194363,-17.667705,-0.318345,-8.686428,-5.613667,-6.077488,-17.509958,-0.159172,-8.486280,-5.411736
50,3,6,1,27,Alabama,Clay County,13932,13932,13880,13670,...,-10.744102,-13.345130,4.902871,5.702648,3.912450,-10.816697,-13.345130,4.977157,5.776708,3.986270
50,3,6,1,29,Alabama,Cleburne County,14972,14972,14973,14971,...,-3.673524,-5.151880,7.345821,3.654485,-3.123961,-3.673524,-5.151880,7.345821,3.654485,-3.123961
50,3,6,1,31,Alabama,Coffee County,49948,49948,50177,50448,...,0.377640,7.675579,-13.146535,-3.602859,2.214774,2.166460,11.513368,-10.438741,-0.767822,5.350738
50,3,6,1,33,Alabama,Colbert County,54428,54428,54514,54443,...,-0.073423,1.065051,1.762390,1.835688,-0.110260,0.513964,1.469035,2.276420,2.533249,0.588052
50,3,6,1,35,Alabama,Conecuh County,13228,13228,13208,13121,...,-4.861559,-7.504690,-6.107224,-14.645416,2.684140,-4.861559,-7.504690,-6.107224,-14.645416,2.684140
50,3,6,1,37,Alabama,Coosa County,11539,11758,11758,11348,...,-33.930581,-10.291443,-4.313831,-22.958017,-5.387581,-34.017138,-10.380162,-4.403703,-23.049483,-5.387581
50,3,6,1,39,Alabama,Covington County,37765,37765,37796,38060,...,6.696899,-4.612668,0.740271,3.697932,-0.316945,6.881460,-4.559952,0.793147,3.750759,-0.264121
50,3,6,1,41,Alabama,Crenshaw County,13906,13906,13853,13896,...,1.729792,3.950156,-1.864936,3.084648,3.439504,2.666763,5.099293,-0.502098,4.734577,5.087600
50,3,6,1,43,Alabama,Cullman County,80406,80410,80473,80469,...,-1.404233,-1.019628,4.071247,5.087142,7.915406,-1.031427,-0.634159,4.542916,5.593387,8.417777
50,3,6,1,45,Alabama,Dale County,50251,50251,50358,50109,...,-10.749798,-5.277150,-15.236079,-11.979785,-5.107706,-9.575283,-0.776637,-12.640155,-9.503292,-1.998668
50,3,6,1,47,Alabama,Dallas County,43820,43820,43803,43178,...,-15.635599,-11.308243,-16.745678,-9.344789,-14.687232,-15.727573,-11.378047,-16.792849,-9.368689,-14.711389
50,3,6,1,49,Alabama,DeKalb County,71109,71115,71142,71387,...,0.294677,-9.302391,-1.748807,0.267830,0.028141,1.375159,-8.656001,-1.029539,1.198187,0.956790
50,3,6,1,51,Alabama,Elmore County,79303,79296,79465,80012,...,3.235576,0.822717,1.760531,-1.507057,2.067820,3.674511,1.558176,2.306047,-0.951175,2.757093
50,3,6,1,53,Alabama,Escambia County,38319,38319,38309,38213,...,-3.449988,-3.855889,-4.822706,-1.189831,1.190902,-3.397716,-3.803428,-4.769999,-1.136950,1.243830
50,3,6,1,55,Alabama,Etowah County,104430,104427,104442,104236,...,-1.015919,2.062637,-1.931884,-1.726932,-2.082234,-0.632554,2.446383,-1.518596,-1.234901,-1.588308
50,3,6,1,57,Alabama,Fayette County,17241,17241,17231,17062,...,-5.015601,-0.646640,-3.725937,0.296745,-2.797536,-5.132243,-0.705426,-3.785079,0.237396,-2.857058
50,3,6,1,59,Alabama,Franklin County,31704,31709,31734,31729,...,-1.638750,-5.459394,-8.043702,-1.267849,-2.401719,0.063029,-3.471291,-5.700261,1.553115,0.442422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,2,3,55,129,Wisconsin,Washburn County,15911,15911,15930,15784,...,-6.873936,7.338289,-6.732724,3.510452,-5.123279,-6.747809,7.464811,-6.605691,3.638104,-4.995197
50,2,3,55,131,Wisconsin,Washington County,131887,131885,131967,132225,...,-0.794876,0.785279,-2.215465,1.601149,-0.434498,-0.431504,1.162817,-1.763330,2.104796,0.059931
50,2,3,55,133,Wisconsin,Waukesha County,389891,389938,390076,390808,...,-0.765799,2.128860,0.038132,0.760109,-0.719858,0.102448,3.180527,1.189727,2.077633,0.593567
50,2,3,55,135,Wisconsin,Waupaca County,52410,52410,52422,52342,...,3.111756,-2.241873,6.292687,-0.441031,-0.480617,3.359933,-2.011937,6.561277,-0.134227,-0.173022
50,2,3,55,137,Wisconsin,Waushara County,24496,24496,24506,24581,...,4.930022,-2.404973,-4.097017,-4.906711,-4.397793,5.174486,-2.160399,-3.810226,-4.535615,-4.024395
50,2,3,55,139,Wisconsin,Winnebago County,166994,166994,167059,167630,...,0.316712,2.889873,0.833819,-2.406192,-4.557985,0.842573,3.502335,1.531624,-1.545153,-3.685304
50,2,3,55,141,Wisconsin,Wood County,74749,74749,74807,74647,...,-4.081523,-5.019090,-6.901200,-5.596471,-3.958322,-3.733590,-4.562809,-6.442917,-5.040889,-3.414223
50,4,8,56,1,Wyoming,Albany County,36299,36299,36428,36908,...,3.708956,2.637812,-3.544634,-3.334877,-9.911169,6.736119,6.433032,0.719587,1.429233,-5.166460
50,4,8,56,3,Wyoming,Big Horn County,11668,11668,11672,11745,...,4.868258,2.804930,16.815908,-8.026420,5.095861,4.868258,3.144921,17.236306,-7.608378,5.513554
50,4,8,56,5,Wyoming,Campbell County,46133,46133,46244,46600,...,-2.843479,15.601020,-5.895711,-8.550911,10.916963,-2.649606,15.558684,-5.916543,-8.509402,10.978525
50,4,8,56,7,Wyoming,Carbon County,15885,15885,15837,15817,...,-7.581980,-13.081441,3.178134,-2.970641,-23.300971,-7.392431,-12.636926,3.623073,-2.338590,-22.600668
50,4,8,56,9,Wyoming,Converse County,13833,13833,13826,13728,...,-12.847499,15.493820,19.035533,-20.550587,-0.070403,-12.774915,16.502720,20.093063,-19.358233,1.126443
50,4,8,56,11,Wyoming,Crook County,7083,7083,7114,7129,...,-1.544618,-4.202564,1.397819,6.378258,18.629317,-0.982939,-3.642222,2.096729,7.071547,19.309219
50,4,8,56,13,Wyoming,Fremont County,40123,40123,40222,40591,...,2.747083,7.782673,-4.990688,-12.331633,-13.673610,3.093562,8.027411,-4.747240,-12.013555,-13.352750
50,4,8,56,15,Wyoming,Goshen County,13249,13247,13408,13597,...,14.293649,3.961413,-8.079028,-7.017803,-11.899450,14.886132,4.841727,-6.903896,-5.761986,-10.635133
50,4,8,56,17,Wyoming,Hot Springs County,4812,4812,4813,4818,...,3.322604,6.208609,3.095336,-6.017222,-5.454164,5.191569,6.001656,2.888981,-6.224712,-5.663940
50,4,8,56,19,Wyoming,Johnson County,8569,8569,8581,8636,...,4.995063,-4.058912,-0.812583,-10.715742,0.933652,5.227392,-4.058912,-0.812583,-10.715742,0.933652
50,4,8,56,21,Wyoming,Laramie County,91738,91881,92271,92663,...,-1.200428,15.547274,4.787847,-1.226133,0.278940,-0.973320,17.914554,6.003143,-0.207819,1.673640
50,4,8,56,23,Wyoming,Lincoln County,18106,18106,18091,18022,...,-9.802564,-11.566801,13.564556,6.125989,1.555544,-9.691801,-11.566801,13.619696,6.234414,1.662823
50,4,8,56,25,Wyoming,Natrona County,75450,75450,75472,76420,...,7.189319,23.066162,24.322042,-0.958472,-0.061057,7.689674,23.749508,25.085233,-0.110593,0.793743
50,4,8,56,27,Wyoming,Niobrara County,2484,2484,2492,2485,...,-0.401849,0.806452,29.066295,-12.603387,7.492114,-0.401849,0.806452,29.066295,-12.603387,7.492114
50,4,8,56,29,Wyoming,Park County,28205,28205,28259,28473,...,4.582951,8.057765,7.641997,-9.252437,-2.878980,6.486639,11.127389,10.877797,-5.585731,0.856839
50,4,8,56,31,Wyoming,Platte County,8667,8667,8678,8701,...,4.373094,5.392073,2.634593,6.055759,4.662270,4.373094,4.933173,2.176403,5.598720,4.207414
50,4,8,56,33,Wyoming,Sheridan County,29116,29116,29146,29275,...,0.958559,8.425487,4.546373,3.678069,-3.298406,2.122524,9.342778,5.523001,4.781489,-2.198937
50,4,8,56,35,Wyoming,Sublette County,10247,10247,10244,10142,...,-23.741784,15.272374,-40.870074,-16.596273,-22.870900,-21.092907,16.828794,-39.211861,-14.409938,-20.664059
50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,44041,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,21482,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,20912,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,8469,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,7114,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [77]:
df['sumlev'].unique()
df = df[df['sumlev']==50]
df.head()

,sumlev,region,division,state,county,stname,ctyname,census2010pop,estimatesbase2010,popestimate2010,...,rdomesticmig2011,rdomesticmig2012,rdomesticmig2013,rdomesticmig2014,rdomesticmig2015,rnetmig2011,rnetmig2012,rnetmig2013,rnetmig2014,rnetmig2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [106]:
df.shape
df.loc[[6,50000],:]

,sumlev,region,division,state,county,stname,ctyname,census2010pop,estimatesbase2010,popestimate2010,...,rdomesticmig2011,rdomesticmig2012,rdomesticmig2013,rdomesticmig2014,rdomesticmig2015,rnetmig2011,rnetmig2012,rnetmig2013,rnetmig2014,rnetmig2015
6,50.0,3.0,6.0,1.0,11.0,Alabama,Bullock County,10914.0,10915.0,10887.0,...,-30.953709,-5.180127,-1.130263,14.35429,-16.167247,-29.001673,-2.825524,1.507017,17.24379,-13.193961
50000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
True in df['stname'].isna(), True in df['ctyname'].isna()
#Why it return true? 
#Becuase there exists a array.

(True, True)

In [73]:
True in list(df['stname'].isna()), True in list(df['ctyname'].isna())

(False, False)

In [81]:
df2 = df.set_index(['stname','ctyname'])
df2.head()
#<Q> Isn't there multi column?
#<Q> How about duplicate indices?

                        sumlev  region  division  state  county  \
stname  ctyname
Alabama Autauga County      50       3         6      1       1
        Baldwin County      50       3         6      1       3
        Barbour County      50       3         6      1       5
        Bibb County         50       3         6      1       7
        Blount County       50       3         6      1       9

                        census2010pop  estimatesbase2010  popestimate2010  \
stname  ctyname
Alabama Autauga County          54571              54571            54660
        Baldwin County         182265             182265           183193
        Barbour County          27457              27457            27341
        Bibb County             22915              22919            22861
        Blount County           57322              57322            57373

                        popestimate2011  popestimate2012  ...  \
stname  ctyname                                           ...
Alabama Autauga County            55253            55175  ...
        Baldwin County           186659           190396  ...
        Barbour County            27226            27159  ...
        Bibb County               22733            22642  ...
        Blount County             57711            57776  ...

                        rdomesticmig2011  rdomesticmig2012  rdomesticmig2013  \
stname  ctyname
Alabama Autauga County          7.242091         -2.915927         -3.012349
        Baldwin County         14.832960         17.647293         21.845705
        Barbour County         -4.728132         -2.500690         -7.056824
        Bibb County            -5.527043         -5.068871         -6.201001
        Blount County           1.807375         -1.177622         -1.748766

                        rdomesticmig2014  rdomesticmig2015  rnetmig2011  \
stname  ctyname
Alabama Autauga County          2.265971         -2.530799     7.606016
        Baldwin County         19.243287         17.197872    15.844176
        Barbour County         -3.904217        -10.543299    -4.874741
        Bibb County            -0.177537          0.177258    -5.088389
        Blount County          -2.062535         -1.369970     1.859511

                        rnetmig2012  rnetmig2013  rnetmig2014  rnetmig2015
stname  ctyname
Alabama Autauga County    -2.626146    -2.722002     2.592270    -2.187333
        Baldwin County    18.559627    22.727626    20.317142    18.293499
        Barbour County    -2.758113    -7.167664    -3.978583   -10.543299
        Bibb County       -4.363636    -5.403729     0.754533     1.107861
        Blount County     -0.848580    -1.402476    -1.577232    -0.884411

[5 rows x 98 columns]

An immediate question which comes up is how we can query this DataFrame. We saw previously that 
the loc attribute of the DataFrame can take multiple arguments. And it could query both the 
row and the columns. When you use a MultiIndex, **you must provide the arguments in order by the 
level you wish to query. Inside of the index, each column is called a level and the outermost 
column is level zero.**

In [89]:
df2.loc['Michigan','Washtenaw County']

sumlev          50.000000
region           2.000000
division         3.000000
state           26.000000
county         161.000000
                  ...
rnetmig2011      5.191395
rnetmig2012      1.248106
rnetmig2013      4.226778
rnetmig2014      3.801394
rnetmig2015      0.595048
Name: (Michigan, Washtenaw County), Length: 98, dtype: float64

In [85]:
df2.loc['Michigan','Washtenaw County','region':]

UnsortedIndexError: 'MultiIndex slicing requires the index to be lexsorted: slicing on levels [2], lexsort depth 1'

In [88]:
df2.loc[('Michigan','Washtenaw County'),'division':]

division                  3.000000
state                    26.000000
county                  161.000000
census2010pop        344791.000000
estimatesbase2010    345066.000000
                         ...
rnetmig2011               5.191395
rnetmig2012               1.248106
rnetmig2013               4.226778
rnetmig2014               3.801394
rnetmig2015               0.595048
Name: (Michigan, Washtenaw County), Length: 96, dtype: float64

In [91]:
df2.loc[('Michigan','Washtenaw County'),'division':]

division                  3.000000
state                    26.000000
county                  161.000000
census2010pop        344791.000000
estimatesbase2010    345066.000000
                         ...
rnetmig2011               5.191395
rnetmig2012               1.248106
rnetmig2013               4.226778
rnetmig2014               3.801394
rnetmig2015               0.595048
Name: (Michigan, Washtenaw County), Length: 96, dtype: float64

In [93]:
df2.loc['Michigan','region':]

,region,division,state,county,census2010pop,estimatesbase2010,popestimate2010,popestimate2011,popestimate2012,popestimate2013,...,rdomesticmig2011,rdomesticmig2012,rdomesticmig2013,rdomesticmig2014,rdomesticmig2015,rnetmig2011,rnetmig2012,rnetmig2013,rnetmig2014,rnetmig2015
ctyname,,,,,,,,,,,,,,,,,,,,,
Alcona County,2,3,26,1,10942,10942,10890,10775,10607,10572,...,0.276944,-2.899635,8.782284,-2.949572,3.077367,0.461574,-2.525489,9.160017,-2.568982,3.462038
Alger County,2,3,26,3,9601,9601,9564,9554,9496,9497,...,1.150748,0.314961,4.527984,-0.211093,-2.442262,1.359975,0.629921,4.843890,0.105546,-2.123706
Allegan County,2,3,26,5,111408,111408,111502,111530,111898,112391,...,-6.035008,-0.913046,0.267512,7.703397,3.056470,-5.604577,-0.546037,0.677697,8.269433,3.634485
Alpena County,2,3,26,7,29598,29598,29539,29342,29219,29026,...,-3.498582,-0.034152,-3.262083,0.172479,-2.770323,-3.294781,0.204915,-2.987381,0.448446,-2.493291
Antrim County,2,3,26,9,23580,23580,23499,23379,23337,23220,...,-3.797090,-0.342495,-0.730288,3.099240,-0.819018,-3.711762,-0.128436,-0.515497,3.357510,-0.560381
Arenac County,2,3,26,11,15899,15899,15854,15620,15496,15419,...,-11.310923,-3.085229,1.164483,0.195154,2.288554,-11.183834,-2.956678,1.293870,0.325256,2.419328
Baraga County,2,3,26,13,8860,8860,8841,8820,8715,8691,...,1.472170,-9.580838,-1.608641,-3.115265,-6.969451,2.151634,-8.896493,-0.804320,-2.307604,-6.156348
Barry County,2,3,26,15,59173,59175,59080,58970,59070,59140,...,-4.760695,-0.847170,-0.372219,1.267117,0.151831,-4.591275,-0.609963,-0.135352,1.520540,0.404882
Bay County,2,3,26,17,107771,107771,107695,107497,107121,106958,...,-2.444329,-3.075231,-1.270559,-5.853274,-5.162447,-1.914569,-2.441547,-0.653964,-5.130995,-4.445178
Benzie County,2,3,26,19,17525,17525,17507,17436,17390,17398,...,-2.403915,0.803997,3.966885,9.913188,-2.173789,-2.461151,0.746569,3.909394,9.855886,-2.230994
Berrien County,2,3,26,21,156813,156817,156792,156510,156015,155363,...,-6.058053,-6.079514,-7.739789,-3.392755,-7.685482,-4.270640,-4.159667,-5.677986,-1.023621,-5.304338
Branch County,2,3,26,23,45248,45248,45172,43897,43770,43531,...,-33.210208,-4.699602,-8.338965,-0.366977,-3.687079,-32.379391,-3.718617,-7.308049,0.779825,-2.519122
Calhoun County,2,3,26,25,136146,136148,136025,135291,134750,134772,...,-8.034911,-6.613810,-3.146311,-2.870994,-7.230572,-6.907075,-5.317711,-1.803192,-1.342765,-5.699742
Cass County,2,3,26,27,52293,52286,52188,52456,52036,51834,...,2.350828,-7.713509,-1.771445,-0.463280,-1.894965,2.580177,-7.560387,-1.598152,-0.250943,-1.662928
Charlevoix County,2,3,26,29,25949,25949,25893,26012,26071,26180,...,4.777960,0.230401,2.794205,0.114611,0.877712,6.434833,1.996813,4.669767,2.177609,2.938427
Cheboygan County,2,3,26,31,26152,26150,26080,25940,25779,25618,...,-0.730488,-2.397571,-1.906726,6.510341,-5.047738,-0.461361,-2.010866,-1.634337,6.900181,-4.656441
Chippewa County,2,3,26,33,38520,38673,38600,38902,39003,38674,...,6.167583,1.540338,-10.273311,-12.234720,-8.486896,7.328843,3.055003,-8.908686,-10.728109,-6.941443
Clare County,2,3,26,35,30926,30926,31006,30962,30788,30578,...,1.065066,-2.688259,-4.139100,4.832811,0.392010,1.161890,-2.623482,-4.073917,4.930773,0.490012
Clinton County,2,3,26,37,75382,75382,75421,76206,76463,77111,...,4.313216,-0.471609,3.893888,-0.945204,-3.722301,5.183773,0.484709,4.935731,0.246012,-2.546157
Crawford County,2,3,26,39,14074,14074,14059,14034,13994,13906,...,1.637419,0.428143,-2.007168,-6.799769,10.093309,1.637419,0.499500,-1.863799,-6.655093,10.238536
Delta County,2,3,26,41,37069,37069,37070,36944,36848,36838,...,-0.864701,-1.057025,-0.488560,-4.660035,-3.016633,-0.756614,-0.894406,-0.325706,-4.496525,-2.852089
Dickinson County,2,3,26,43,26168,26168,26144,26072,26215,26038,...,2.527961,6.655574,-4.057183,-2.346831,-4.600367,2.489658,6.579073,-4.133734,-2.423776,-4.677684
Eaton County,2,3,26,45,107759,107759,107758,107882,108023,108292,...,-2.578371,-2.658577,-1.072510,0.147467,-3.015995,-0.899648,-0.704013,0.822874,2.267302,-0.901120
Emmet County,2,3,26,47,32694,32694,32644,32776,32890,33064,...,2.445735,4.416288,5.397701,3.923699,-1.597324,2.873739,4.873146,5.913212,4.497163,-1.024698
Genesee County,2,3,26,49,425790,425790,425057,421784,418110,415695,...,-10.519094,-11.346670,-8.268120,-8.063922,-6.848891,-10.042027,-10.829938,-7.704439,-7.417071,-6.200662
Gladwin County,2,3,26,51,25692,25692,25720,25842,25515,25534,...,7.912804,-7.983332,4.740543,1.647543,-6.164181,8.223110,-7.632845,5.093146,2.039816,-5.769041
Gogebic County,2,3,26,53,16427,16427,16400,16121,16035,15856,...,-10.454783,1.181739,-2.383117,-6.469208,-8.486290,-10.454783,1.368329,-2.194977,-6.278937,-8.293420
Grand Traverse County,2,3,26,55,86986,86986,86964,88138,88988,89979,...,12.255714,7.576527,9.890091,6.295118,6.292756,12.404199,7.903978,10.113596,6.549578,6.555867
Gratiot County,2,3,26,57,42476,42476,42425,42151,42035,42033,...,-7.732690,-3.991162,0.808869,-9.753066,-2.500812,-7.377980,-3.634809,1.237094,-9.274974,-2.019886
Hillsdale County,2,3,26,59,46688,46688,46619,46622,46283,46129,...,-1.909031,-8.374146,-4.198589,-7.735263,-2.046637,-1.909031,-8.374146,-4.198589,-7.735263,-2.046637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Mecosta County,2,3,26,107,42798,42798,42844,43442,43519,43270,...,11.821153,-0.873955,-8.388160,-3.284110,-5.795489,13.095983,0.459976,-6.982452,-1.665183,-4.195934
Menominee County,2,3,26,109,24029,24029,23976,23923,23748,23755,...,-0.417545,-3.817835,3.620824,-4.391336,0.042410,-0.167018,-3.566109,3.873440,-4.137989,0.296868
Midland County,2,3,26,111,83629,83629,83664,83761,83660,83588,...,-1.791847,-5.077021,-3.826653,-5.351147,-2.429523,-0.322532,-3.332915,-1.925285,-3.208294,-0.287234
Missaukee County,2,3,26,113,14849,14849,14814,14940,15031,15080,...,6.923439,1.601548,2.125469,-5.653851,-5.687331,7.662835,2.268860,2.789678,-4.988692,-5.018233
Monroe County,2,3,26,115,152021,152021,151945,151535,150878,150253,...,-5.305127,-5.892604,-5.605534,-2.858114,-4.320347,-4.883353,-5.475955,-5.160545,-2.325132,-3.786146
Montcalm County,2,3,26,117,63342,63342,63311,63223,63103,62850,...,-3.777641,-5.097921,-6.383333,-1.956262,-2.050141,-3.382490,-4.717952,-5.954602,-1.479125,-1.589257
Montmorency County,2,3,26,119,9765,9765,9775,9595,9494,9364,...,-10.325245,-2.304992,-2.757450,4.824185,6.576465,-10.325245,-2.304992,-2.757450,4.824185,6.576465
Muskegon County,2,3,26,121,172188,172188,171922,169985,170129,172213,...,-14.565364,-2.352153,8.885851,-2.008632,-0.863543,-14.138348,-2.005210,9.259746,-1.567430,-0.423078
Newaygo County,2,3,26,123,48460,48460,48378,48418,47952,47943,...,-1.880243,-12.036941,-1.668492,-2.462797,0.667842,-1.714947,-11.746394,-1.355649,-2.045374,1.085244
Oakland County,2,3,26,125,1202362,1202362,1202930,1211211,1221391,1232713,...,0.744778,1.714214,2.387837,-1.182556,-5.272740,4.341917,5.554546,6.546585,3.529064,-0.595439
Oceana County,2,3,26,127,26570,26570,26522,26417,26251,26200,...,-9.180377,-9.379509,-4.613830,-1.680223,-2.142352,-8.764805,-8.999772,-4.156260,-1.183793,-1.645020
Ogemaw County,2,3,26,129,21699,21699,21637,21535,21424,21204,...,0.185305,-1.955353,-3.096556,-3.505946,1.811810,0.741221,-1.396681,-2.486629,-2.890036,2.431640
Ontonagon County,2,3,26,131,6780,6780,6745,6614,6408,6305,...,-9.431844,-23.498695,-6.922048,-9.788975,-11.015208,-9.132420,-23.345108,-6.764729,-9.628500,-10.850801
Osceola County,2,3,26,133,23528,23528,23513,23448,23265,23253,...,-3.960733,-10.018624,-4.256417,-4.396836,-3.939223,-3.705202,-9.847366,-4.084440,-4.095092,-3.636206
Oscoda County,2,3,26,135,8640,8640,8603,8648,8593,8376,...,9.506695,-2.436054,-19.565089,3.348081,-3.252816,9.738566,-2.204048,-19.329365,3.587229,-3.011867
Otsego County,2,3,26,137,24164,24164,24151,24131,24048,24123,...,-2.112589,-5.064447,3.404538,1.491579,4.999897,-1.822625,-4.441769,4.151876,2.403099,5.908969
Ottawa County,2,3,26,139,263801,263801,264141,266429,269616,273080,...,1.383418,4.189947,4.591889,4.722765,3.227006,3.015625,5.816676,6.379262,6.760321,5.228613
Presque Isle County,2,3,26,141,13376,13376,13304,13185,13120,13050,...,-1.963079,1.216499,2.751242,3.763585,-4.026326,-1.887576,1.292530,2.827665,3.840393,-3.948897
Roscommon County,2,3,26,143,24449,24449,24470,24322,24140,23967,...,1.967536,0.784120,2.494439,8.170071,4.299639,3.115265,1.898395,3.907955,9.670696,5.802425
Saginaw County,2,3,26,145,200169,200169,199916,198855,198329,196764,...,-6.861081,-5.498711,-10.326683,-10.012605,-11.363139,-6.053600,-4.622543,-9.369946,-8.940920,-10.287065
St. Clair County,2,3,26,147,163040,163040,162681,161493,160549,160193,...,-7.563839,-6.707200,-2.063964,-0.418449,-1.487909,-7.014751,-6.055111,-1.378055,0.374731,-0.693941
St. Joseph County,2,3,26,149,61295,61295,61288,61078,60953,60940,...,-7.387673,-7.129336,-4.151182,-1.114206,-5.518348,-6.684863,-6.277094,-3.281567,-0.049156,-4.453978
Sanilac County,2,3,26,151,43114,43114,43077,42713,42334,41898,...,-8.835529,-9.006784,-8.832748,-4.619988,-3.705174,-8.812216,-8.889202,-8.714028,-4.500299,-3.584876
Schoolcraft County,2,3,26,153,8485,8485,8478,8482,8360,8252,...,4.834906,-12.112576,-7.344089,-4.749437,3.793441,5.070755,-11.875074,-7.103299,-4.505876,4.038179
Shiawassee County,2,3,26,155,70648,70648,70602,69946,69269,68842,...,-9.790250,-10.573573,-6.342724,-0.058084,-4.319749,-9.548339,-10.329347,-6.096546,0.232337,-4.014312
Tuscola County,2,3,26,157,55729,55729,55696,55392,54714,54222,...,-4.734985,-13.187292,-9.106264,-3.714827,-3.730166,-4.464929,-12.932992,-8.830873,-3.437601,-3.433237
Van Buren County,2,3,26,159,76258,76265,76155,75914,75258,75331,...,-6.286620,-12.594925,-1.952334,-4.650916,-4.059792,-5.957822,-12.237716,-1.540617,-4.106094,-3.487428
Washtenaw County,2,3,26,161,344791,345066,345563,349048,351213,354289,...,0.129569,-4.309822,-1.780293,-2.955078,-6.078985,5.191395,1.248106,4.226778,3.801394,0.595048
Wayne County,2,3,26,163,1820584,1820641,1815199,1801273,1792514,1775713,...,-13.340073,-10.271616,-14.119617,-11.903253,-8.762835,-11.344758,-8.098421,-11.732437,-9.161648,-6.010195
Wexford County,2,3,26,165,32735,32735,32757,32694,32597,32538,...,-4.491910,-3.982172,-3.285484,8.463184,-0.758438,-4.400238,-3.859644,-3.162662,8.585396,-0.637088

In [98]:
df2.loc[[('Michigan','Washtenaw County'),('Michigan','Wayne County')],'region':]

                           region  division  state  county  census2010pop  \
stname   ctyname
Michigan Washtenaw County       2         3     26     161         344791
         Wayne County           2         3     26     163        1820584

                           estimatesbase2010  popestimate2010  \
stname   ctyname
Michigan Washtenaw County             345066           345563
         Wayne County                1820641          1815199

                           popestimate2011  popestimate2012  popestimate2013  \
stname   ctyname
Michigan Washtenaw County           349048           351213           354289
         Wayne County              1801273          1792514          1775713

                           ...  rdomesticmig2011  rdomesticmig2012  \
stname   ctyname           ...
Michigan Washtenaw County  ...          0.129569         -4.309822
         Wayne County      ...        -13.340073        -10.271616

                           rdomesticmig2013  rdomesticmig2014  \
stname   ctyname
Michigan Washtenaw County         -1.780293         -2.955078
         Wayne County            -14.119617        -11.903253

                           rdomesticmig2015  rnetmig2011  rnetmig2012  \
stname   ctyname
Michigan Washtenaw County         -6.078985     5.191395     1.248106
         Wayne County             -8.762835   -11.344758    -8.098421

                           rnetmig2013  rnetmig2014  rnetmig2015
stname   ctyname
Michigan Washtenaw County     4.226778     3.801394     0.595048
         Wayne County       -11.732437    -9.161648    -6.010195

[2 rows x 97 columns]

In [99]:
df2.loc[[('michigan','Washtenaw County'),('Michigan','Wayne County')],'region':]
#요거는 또 없는 데이터를 표현할 수 있네?

,,region,division,state,county,census2010pop,estimatesbase2010,popestimate2010,popestimate2011,popestimate2012,popestimate2013,...,rdomesticmig2011,rdomesticmig2012,rdomesticmig2013,rdomesticmig2014,rdomesticmig2015,rnetmig2011,rnetmig2012,rnetmig2013,rnetmig2014,rnetmig2015
stname,ctyname,,,,,,,,,,,,,,,,,,,,,
michigan,Washtenaw County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Michigan,Wayne County,2.0,3.0,26.0,163.0,1820584.0,1820641.0,1815199.0,1801273.0,1792514.0,1775713.0,...,-13.340073,-10.271616,-14.119617,-11.903253,-8.762835,-11.344758,-8.098421,-11.732437,-9.161648,-6.010195

In [108]:
df2.T.head()

stname          Alabama                                            \
ctyname  Autauga County Baldwin County Barbour County Bibb County
sumlev             50.0           50.0           50.0        50.0
region              3.0            3.0            3.0         3.0
division            6.0            6.0            6.0         6.0
state               1.0            1.0            1.0         1.0
county              1.0            3.0            5.0         7.0

stname                                                              \
ctyname  Blount County Bullock County Butler County Calhoun County
sumlev            50.0           50.0          50.0           50.0
region             3.0            3.0           3.0            3.0
division           6.0            6.0           6.0            6.0
state              1.0            1.0           1.0            1.0
county             9.0           11.0          13.0           15.0

stname                                    ...         Wyoming              \
ctyname  Chambers County Cherokee County  ... Niobrara County Park County
sumlev              50.0            50.0  ...            50.0        50.0
region               3.0             3.0  ...             4.0         4.0
division             6.0             6.0  ...             8.0         8.0
state                1.0             1.0  ...            56.0        56.0
county              17.0            19.0  ...            27.0        29.0

stname                                                                    \
ctyname  Platte County Sheridan County Sublette County Sweetwater County
sumlev            50.0            50.0            50.0              50.0
region             4.0             4.0             4.0               4.0
division           8.0             8.0             8.0               8.0
state             56.0            56.0            56.0              56.0
county            31.0            33.0            35.0              37.0

stname
ctyname  Teton County Uinta County Washakie County Weston County
sumlev           50.0         50.0            50.0          50.0
region            4.0          4.0             4.0           4.0
division          8.0          8.0             8.0           8.0
state            56.0         56.0            56.0          56.0
county           39.0         41.0            43.0          45.0

[5 rows x 3142 columns]

## Control Missing Values

We've seen a preview of how Pandas handles missing values using the None type and NumPy NaN values. Missing
values are pretty common in data cleaning activities. And, missing values can be there for any number of
reasons, and I just want to touch on a few here.

For instance, if you are running a survey and a respondant didn't answer a question the missing value is
actually an omission. This kind of missing data is called **Missing at Random** if there are other variables
that might be used to predict the variable which is missing. In my work when I delivery surveys I often find
that missing data, say the interest in being involved in a follow up study, often has some correlation with
another data field, like gender or ethnicity. If there is no relationship to other variables, then we call
this data **Missing Completely at Random (MCAR)**.

These are just two examples of missing data, and there are many more. For instance, data might be missing
because it wasn't collected, either by the process responsible for collecting that data, such as a
researcher, or because it wouldn't make sense if it were collected. This last example is extremely common
when you start joining DataFrames together from multiple sources, such as joining a list of people at a
university with a list of offices in the university (students generally don't have offices).

Pandas is pretty good at detecting missing values directly from underlying data formats, like CSV files.
Although most missing valuse are often formatted as NaN, NULL, None, or N/A, sometimes missing values are
not labeled so clearly. For example, I've worked with social scientists who regularly used the value of 99
in binary categories to indicate a missing value. The pandas read_csv() function has a parameter called
na_values to let us specify the form of missing values. It allows scalar, string, list, or dictionaries to
be used.

In [2]:
import pandas as pd
import numpy as np

In [112]:
df = pd.read_csv('datasets/class_grades.csv')
df

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0        5       57.14     34.09    64.38     51.48  52.50
1        8       95.05    105.49    67.50     99.07  68.33
2        8       83.70     83.17      NaN     63.15  48.89
3        7         NaN       NaN    49.38    105.93  80.56
4        8       91.32     93.64    95.00    107.41  73.89
..     ...         ...       ...      ...       ...    ...
94       8         NaN    103.71    45.00     93.52  61.94
95       7         NaN     80.54    41.25     93.70  39.72
96       8       89.94    102.77    87.50     90.74  87.78
97       7       95.60     76.13    66.25     99.81  85.56
98       8       63.40     97.37    73.12     72.78  77.22

[99 rows x 6 columns]

In [113]:
df.isnull()

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0    False       False     False    False     False  False
1    False       False     False    False     False  False
2    False       False     False     True     False  False
3    False        True      True    False     False  False
4    False       False     False    False     False  False
..     ...         ...       ...      ...       ...    ...
94   False        True     False    False     False  False
95   False        True     False    False     False  False
96   False       False     False    False     False  False
97   False       False     False    False     False  False
98   False       False     False    False     False  False

[99 rows x 6 columns]

In [114]:
df.dropna().head(20)

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0        5       57.14     34.09    64.38     51.48  52.50
1        8       95.05    105.49    67.50     99.07  68.33
4        8       91.32     93.64    95.00    107.41  73.89
5        7       95.00     92.58    93.12     97.78  68.06
6        8       95.05    102.99    56.25     99.07  50.00
8        8       84.26     93.10    47.50     18.52  50.83
9        7       90.10     97.55    51.25     88.89  63.61
10       7       80.44     90.20    75.00     91.48  39.72
12       8       97.16    103.71    72.50     93.52  63.33
13       7       91.28     83.53    81.25     99.81  92.22
14       8       84.80     89.08    44.38     16.91  35.83
17       4       92.01    102.52    38.75     86.11  49.17
21       8       75.27     97.52    63.12     61.11  66.11
22       8       63.78     76.21    39.38     42.22  34.44
23       7       80.44     90.20    46.25     91.48  72.22
24       7       53.36     82.01    74.38    102.59  56.39
25       6       91.28     95.24    82.50     97.59  92.78
26       8       82.45     86.65    93.12     85.56  89.17
28       8       91.32     94.89    76.25    107.41  85.56
29       7       91.62     65.18    71.88     90.00  45.56

In [116]:
df.head(10)
df2 = df.fillna(0)
df2.head(10)

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0       5       57.14     34.09    64.38     51.48  52.50
1       8       95.05    105.49    67.50     99.07  68.33
2       8       83.70     83.17     0.00     63.15  48.89
3       7        0.00      0.00    49.38    105.93  80.56
4       8       91.32     93.64    95.00    107.41  73.89
5       7       95.00     92.58    93.12     97.78  68.06
6       8       95.05    102.99    56.25     99.07  50.00
7       7       72.85     86.85    60.00      0.00  56.11
8       8       84.26     93.10    47.50     18.52  50.83
9       7       90.10     97.55    51.25     88.89  63.61

We can also use the na_filter option to turn off white space filtering, if white space is an actual value of
interest. But in practice, this is pretty rare. In data without any NAs, passing na_filter=False, can
improve the performance of reading a large file.

In addition to rules controlling how missing values might be loaded, **it's sometimes useful to consider
missing values as actually having information.**

In [117]:
df = pd.read_csv('datasets/log.csv')
df

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN
20  1469974754     sue  advanced.html                 30    NaN     NaN
21  1469974824     sue  advanced.html                 31    NaN     NaN
22  1469974854     sue  advanced.html                 32    NaN     NaN
23  1469974924     sue  advanced.html                 33    NaN     NaN
24  1469977424     bob     intro.html                  1   True    10.0
25  1469977454     bob     intro.html                  1    NaN     NaN
26  1469977484     bob     intro.html                  1    NaN     NaN
27  1469977634     bob     intro.html                  1    NaN     NaN
28  1469977664     bob     intro.html                  1    NaN     NaN
29  1469974634  cheryl     intro.html                 12    NaN     NaN
30  1469974664  cheryl     intro.html                 13    NaN     NaN
31  1469977694     bob     intro.html                  1    NaN     NaN
32  1469977724     bob     intro.html                  1    NaN     NaN

Except for user Bob. It turns out that Bob has paused his playback so as time increases the playback
position doesn't change. Note too how difficult it is for us to try and derive this knowledge from the data,
because it's not sorted by time stamp as one might expect. This is actually not uncommon on systems which
have a high degree of parallelism. There are a lot of missing values in the paused and volume columns. It's
not efficient to send this information across the network if it hasn't changed. So this articular system
just inserts null values into the database if there's no changes.

In [118]:
df = df.set_index('time')
df.sort_index()
df.head()

              user       video  playback position paused  volume
time
1469974424  cheryl  intro.html                  5  False    10.0
1469974454  cheryl  intro.html                  6    NaN     NaN
1469974544  cheryl  intro.html                  9    NaN     NaN
1469974574  cheryl  intro.html                 10    NaN     NaN
1469977514     bob  intro.html                  1    NaN     NaN

In [121]:
#Fill NaN method
#ffil : forward fill
#bfil : backward fill
df = df.reset_index()
df.fillna(method='ffill')
#fillna를 할거면 적어도 연관성 있는 애들로 해줘야 할텐데(상황에 따라 랜덤도 가능하겠지만)
#만약 index가 겹치면 어떻게? multilabel로 구분해주기

,index,time,user,video,playback position,paused,volume
0,0,1469974424,cheryl,intro.html,5,False,10.0
1,1,1469974454,cheryl,intro.html,6,False,10.0
2,2,1469974544,cheryl,intro.html,9,False,10.0
3,3,1469974574,cheryl,intro.html,10,False,10.0
4,4,1469977514,bob,intro.html,1,False,10.0
5,5,1469977544,bob,intro.html,1,False,10.0
6,6,1469977574,bob,intro.html,1,False,10.0
7,7,1469977604,bob,intro.html,1,False,10.0
8,8,1469974604,cheryl,intro.html,11,False,10.0
9,9,1469974694,cheryl,intro.html,14,False,10.0
10,10,1469974724,cheryl,intro.html,15,False,10.0
11,11,1469974454,sue,advanced.html,24,False,10.0
12,12,1469974524,sue,advanced.html,25,False,10.0
13,13,1469974424,sue,advanced.html,23,False,10.0
14,14,1469974554,sue,advanced.html,26,False,10.0
15,15,1469974624,sue,advanced.html,27,False,10.0
16,16,1469974654,sue,advanced.html,28,False,5.0
17,17,1469974724,sue,advanced.html,29,False,5.0
18,18,1469974484,cheryl,intro.html,7,False,5.0
19,19,1469974514,cheryl,intro.html,8,False,5.0
20,20,1469974754,sue,advanced.html,30,False,5.0
21,21,1469974824,sue,advanced.html,31,False,5.0
22,22,1469974854,sue,advanced.html,32,False,5.0
23,23,1469974924,sue,advanced.html,33,False,5.0
24,24,1469977424,bob,intro.html,1,True,10.0
25,25,1469977454,bob,intro.html,1,True,10.0
26,26,1469977484,bob,intro.html,1,True,10.0
27,27,1469977634,bob,intro.html,1,True,10.0
28,28,1469977664,bob,intro.html,1,True,10.0
29,29,1469974634,cheryl,intro.html,12,True,10.0
30,30,1469974664,cheryl,intro.html,13,True,10.0
31,31,1469977694,bob,intro.html,1,True,10.0
32,32,1469977724,bob,intro.html,1,True,10.0

In [122]:
df2 = df.set_index(['time','user'])
df2.head()

                   index       video  playback position paused  volume
time       user
1469974424 cheryl      0  intro.html                  5  False    10.0
1469974454 cheryl      1  intro.html                  6    NaN     NaN
1469974544 cheryl      2  intro.html                  9    NaN     NaN
1469974574 cheryl      3  intro.html                 10    NaN     NaN
1469977514 bob         4  intro.html                  1    NaN     NaN

In [124]:
df2 = df2.sort_index()
df2.head()
df2.fillna(method='bfill')

                   index          video  playback position paused  volume
time       user
1469974424 cheryl      0     intro.html                  5  False    10.0
           sue        13  advanced.html                 23  False    10.0
1469974454 cheryl      1     intro.html                  6   True     5.0
           sue        11  advanced.html                 24   True     5.0
1469974484 cheryl     18     intro.html                  7   True     5.0
1469974514 cheryl     19     intro.html                  8   True     5.0
1469974524 sue        12  advanced.html                 25   True     5.0
1469974544 cheryl      2     intro.html                  9   True     5.0
1469974554 sue        14  advanced.html                 26   True     5.0
1469974574 cheryl      3     intro.html                 10   True     5.0
1469974604 cheryl      8     intro.html                 11   True     5.0
1469974624 sue        15  advanced.html                 27   True     5.0
1469974634 cheryl     29     intro.html                 12   True     5.0
1469974654 sue        16  advanced.html                 28   True     5.0
1469974664 cheryl     30     intro.html                 13   True    10.0
1469974694 cheryl      9     intro.html                 14   True    10.0
1469974724 cheryl     10     intro.html                 15   True    10.0
           sue        17  advanced.html                 29   True    10.0
1469974754 sue        20  advanced.html                 30   True    10.0
1469974824 sue        21  advanced.html                 31   True    10.0
1469974854 sue        22  advanced.html                 32   True    10.0
1469974924 sue        23  advanced.html                 33   True    10.0
1469977424 bob        24     intro.html                  1   True    10.0
1469977454 bob        25     intro.html                  1    NaN     NaN
1469977484 bob        26     intro.html                  1    NaN     NaN
1469977514 bob         4     intro.html                  1    NaN     NaN
1469977544 bob         5     intro.html                  1    NaN     NaN
1469977574 bob         6     intro.html                  1    NaN     NaN
1469977604 bob         7     intro.html                  1    NaN     NaN
1469977634 bob        27     intro.html                  1    NaN     NaN
1469977664 bob        28     intro.html                  1    NaN     NaN
1469977694 bob        31     intro.html                  1    NaN     NaN
1469977724 bob        32     intro.html                  1    NaN     NaN

We can also do customized fill-in to replace values with the **replace() function**. It allows replacement from

**several approaches: value-to-value, list, dictionary, regex** Let's generate a simple example

In [136]:
df2.head()
df2.replace(np.nan,20)
df2.replace([0,np.nan],[10,20])
df2.replace('^a.+','Joker',regex=True)
df2['video'].replace('^a.+','Joker',regex=True)
df2

                   index          video  playback position paused  volume
time       user
1469974424 cheryl      0     intro.html                  5  False    10.0
           sue        13  advanced.html                 23  False    10.0
1469974454 cheryl      1     intro.html                  6    NaN     NaN
           sue        11  advanced.html                 24    NaN     NaN
1469974484 cheryl     18     intro.html                  7    NaN     NaN
1469974514 cheryl     19     intro.html                  8    NaN     NaN
1469974524 sue        12  advanced.html                 25    NaN     NaN
1469974544 cheryl      2     intro.html                  9    NaN     NaN
1469974554 sue        14  advanced.html                 26    NaN     NaN
1469974574 cheryl      3     intro.html                 10    NaN     NaN
1469974604 cheryl      8     intro.html                 11    NaN     NaN
1469974624 sue        15  advanced.html                 27    NaN     NaN
1469974634 cheryl     29     intro.html                 12    NaN     NaN
1469974654 sue        16  advanced.html                 28    NaN     5.0
1469974664 cheryl     30     intro.html                 13    NaN     NaN
1469974694 cheryl      9     intro.html                 14    NaN     NaN
1469974724 cheryl     10     intro.html                 15    NaN     NaN
           sue        17  advanced.html                 29    NaN     NaN
1469974754 sue        20  advanced.html                 30    NaN     NaN
1469974824 sue        21  advanced.html                 31    NaN     NaN
1469974854 sue        22  advanced.html                 32    NaN     NaN
1469974924 sue        23  advanced.html                 33    NaN     NaN
1469977424 bob        24     intro.html                  1   True    10.0
1469977454 bob        25     intro.html                  1    NaN     NaN
1469977484 bob        26     intro.html                  1    NaN     NaN
1469977514 bob         4     intro.html                  1    NaN     NaN
1469977544 bob         5     intro.html                  1    NaN     NaN
1469977574 bob         6     intro.html                  1    NaN     NaN
1469977604 bob         7     intro.html                  1    NaN     NaN
1469977634 bob        27     intro.html                  1    NaN     NaN
1469977664 bob        28     intro.html                  1    NaN     NaN
1469977694 bob        31     intro.html                  1    NaN     NaN
1469977724 bob        32     intro.html                  1    NaN     NaN

When you use statistical functions on DataFrames, these functions typically ignore missing values. For instance if you try and calculate the mean value of a DataFrame, **the underlying NumPy function will ignore missing values. This is usually what you want but you should be aware that values are being excluded.** Why you have missing values really matters depending upon the problem you are trying to solve. It might be unreasonable to infer missing values, for instance, if the data shouldn't exist in the first place.

In [11]:
data = {'a':1,'b':2,'c':3,'d':4}
obj1 = pd.Series(data)

In [12]:
index = ['a','b','e','f']
obj2 = pd.Series(data,index=index)
pd.isnull(obj2)
#obj2['e']==None
obj2.iloc[0:3]
obj2.loc[1]
obj2.append(obj1)

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [1] of <class 'int'>